name: CI

on:
  pull_request:
    branches: [main]
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ludeeus/action-shellcheck@2.0.0

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo test

  integrate:
    name: Integration
    needs: [lint, test]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Build embed-md
        run: cargo build --release

      - name: Install embed-md
        run: cp target/release/embed-md /usr/local/bin/

      - name: Run action on example
        uses: ./
        with:
          markdown-files: "examples/example.md"
          commit-dry: "true"
          commit-push: "false"

      - name: Assert changes
        run: |
          if git diff --exit-code examples/example.md; then
            echo "examples/example.md has not been modified"
            exit 1
          else
            echo "examples/example.md has been modified"
          fi
